.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.stageSelect {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9; 
  color: #333;
  transition: all 0.3s;
}

.stageSelect:hover {
  border-color: navy;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.option {
  padding: 20px;
  background-color: #f9f9f9;
  color: #333; 
}

.matchList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 600px;
  gap: 10px;
  margin-bottom: 20px;
}

.matchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  border-radius: 4px;
}

.homeTeamContainer, .awayTeamContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  width: 30%;
}

.homeTeamContainer {
  justify-content: flex-end;
  text-align: right;
}

.awayTeamContainer {
  justify-content: flex-start;
  text-align: left;
}

.imgContainer {
  width: 40px;

}

.logo {
  height: 40px;

}

.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 10%;
  justify-content: center;
}

.scoreField {
  background: none;
  border: 0.5px solid gray;
  height: 30px;
  width: 30px;
  text-align: center;
  font-weight: 300;
  font-size: large;
}

.scoreField.disabled {
  pointer-events: none;
}

.saveButton {
  background-color: darkblue;
  border: 0px;
  color: whitesmoke;
  font-weight: 500;
  padding: 12px 50px;
  border-radius: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.saveButton:hover {
  background-color: royalblue;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}