.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  gap: 30px;
}

.nationList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 10px;
  text-decoration: none;
  font-weight: 300;
  color: black;
  gap: 5px;
  text-align: center;
  text-wrap: nowrap;
  transition: 0.2s ease;
}

.link:hover {
  font-weight: 400;
}

.link:hover .imgContainer {
  border: 1px solid blue;
}

.imgContainer {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  transition: border 0.2s ease;
}

.img {
  display: inline;
  height: 100%;
  width: auto;
}

.saveButton {
  background-color: darkblue;
  border: 0px;
  color: whitesmoke;
  font-weight: 500;
  padding: 12px 50px;
  border-radius: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.saveButton:hover {
  background-color: royalblue;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.saveButton.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
