.nationList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 90px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding: 10px;
  text-decoration: none;
  font-weight: 300;
  color: black;
  gap: 5px;
  text-align: center;
}

.imgContainer {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}

.flag {
  display: inline;
  height: 100%;
  width: auto;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.nationPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}

.saveButton {
  background-color: darkblue;
  border: 0px;
  color: whitesmoke;
  font-weight: 500;
  padding: 12px 50px;
  border-radius: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.saveButton:hover {
  background-color: royalblue;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.saveButton.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
