.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-primary);
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 900;
  height: 70px;
  gap: 10px;
}

.navbarTab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--colors-neutral);
  width: 60px;
  padding: 10px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.navbarTab:hover {
  background-color: var(--colors-neutral);
  color: var(--colors-primary);
}

.activeBar {
  position: absolute;
  left: 0;
  bottom: 4px;
  border-radius: 5px;
  height: 8px;
  width: 200px;
  background-color: var(--colors-neutral);
  z-index: 1000;
  transition: 0.5s ease;
}
